# Node.js modules
node_modules/

# Секретні змінні середовища
.env

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Кеші
.cache/
dist/

# IDE файли
.vscode/
.idea/

# Системні файли
.DS_Store
Thumbs.db

# Railway специфічне (якщо будуть генеруватися)
*.sqlite
*.bak
